{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>{% block title %} Patient Info {% endblock %}</h1><br>
        <form action="" method="post" enctype="multipart/form-data">
            <label for="fname">Name:</label>
            <input type="text" id="fname" name="name" value="{{ name }}">
            <label for="sname">Surname:</label>
            <input type="text" id="sname" name="surname" value="{{ Surname }}">
            <label for="inumber">Identification Number:</label>
            <input type="text" id="inumber" name="id" value="{{ Id }}"><br><br>
            <label for="s">Sex:</label>
            <input type="text" id="s" name="sex" value="{{ Sex }}">
            <label for="birth">Date of Birth:</label>
            <input type="text" id="birth" name="dob" value="{{ Dob }}">
            <label for="old">Age:</label>
            <input type="text" id="old" name="age" value="{{ Age }}"><br><br>
            {% autoescape false %}
            {%for i in range(0, len)%}
        
                <li> {{Diagnose[i]}} </li><br> 

            {%endfor%}
            {% endautoescape %}
            <label for="attachment">Attachment:</label>
            {%for i in range(0, flen)%}
        
                <a href="uploads/{{Files[i]}}"> {{Files[i]}} </a>

            {%endfor%}
            <br><br>
            <input type="file" id="attachment" name="file" autocomplete="off"><br><br>
            <label for="diag">Diagnose:</label><br><br>
            <textarea name="diagnose" id="diag" class="form-control" value=""></textarea><br><br>
            <input class="btn btn-outline-success" type="submit" name="btn" value="Save">
            <input class="btn btn-outline-warning" type="submit" name="btn" value="Cancel">
        </form>
        {% if error %}
            <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
        {% if success %}
            <p class="success"><strong>Success:</strong> {{ success }}
    {% endif %}
{% endblock %}